* {
    padding: 0;
    margin: 0;
    font: bold 'Open Sans', sans-serif, Arial;
}

#news {
    background-image: url(backgroundb.jpg);
    background-repeat: no-repeat;
}

.news-page h1 {
    font: bold 12px 'Open Sans', sans-serif, Arial;
    text-transform: uppercase;
    color: #3e3e3f;
    margin: -20 0 0 0;
}

.news-page h2 {
    font: bold 16px 'Open Sans', sans-serif, Arial;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

.news-page h3 {
    font: 14px 'Open Sans', sans-serif, Arial;
    font-weight: lighter;
    text-transform: capitalize;
    color: rgb(223, 217, 217);
}

.news-page p {
    font: bold 12px 'Open Sans', sans-serif, Arial;
    color: #7e7f7f;
}

a {
    font: lighter 12px 'Open Sans', sans-serif, Arial;
    color: #7e7f7f;
    text-decoration: none;
}

.df {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.article>a>img {
    width: 160px;
    height: 80px;
    border: 0;
}

.header-img>a>img {
    width: 20px;
    height: 20px;
    border: 0;
}

li {
    display: inline;
    padding: 6px;
}

.news-page {
    position: relative;
    color: white;
}

header {
    color: #FFFFFF;
    /* Safari */
    position: fixed;
    top: 0;
    text-transform: capitalize;
    padding: 10px;
    text-align: justify;
    width: 100%;
}


.nav-right{
    position: fixed;
    top: 45px;
}


.article {
    width: 1300px;
    height: 700px;
    display: grid;
    flex-direction: row;
    grid-template-columns: 23% 15% 45% 10%;
    grid-template-rows: 10% 13% 15% 15% 15% 15% 15%;
}

nav a {
    position: relative;
    font-size: 25px;
    padding: 10px;
}

nav a:hover {
    color: white;
    text-shadow: 2px 2px 4px #ddd5d5;
}

.news-page h2 {
    display: grid;
    grid-column: 2;
    grid-row: 3;
    margin: -39px 0px 0px 7px;
}

.news-page h1 {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin: 10px 0px 0px 0px;
}

.comment {
    vertical-align: text-top;
}

span {
    color: #0694d6;
}

.news1 {
    display: grid;
    grid-column: 3/5;
    grid-row: 3;
}

.tracer {
    display: grid;
    grid-column: 2/5;
    grid-row: 3;
    border-top: 1px solid rgb(180, 178, 178);
    padding-top: 15px;
}

.news2 {
    display: grid;
    grid-column: 3/5;
    grid-row: 4;
}

.anniversary {
    display: grid;
    grid-column: 2/5;
    grid-row: 4;
    border-top: 1px solid rgb(180, 178, 178);
    padding-top: 15px;
}

.news3 {
    display: grid;
    grid-column: 3/5;
    grid-row: 5;
}

.worldcup {
    display: grid;
    grid-column: 2/5;
    grid-row: 5;
    border-top: 1px solid rgb(180, 178, 178);
    padding-top: 15px;
}

.news4 {
    display: grid;
    grid-column: 3/5;
    grid-row: 6;
}

.blizzcon {
    display: grid;
    grid-column: 2/5;
    grid-row: 6;
    border-top: 1px solid rgb(180, 178, 178);
    padding-top: 15px;
}

.news5 {
    display: grid;
    grid-column: 3/5;
    grid-row: 7;
}

.workshop {
    display: grid;
    grid-column: 2/5;
    grid-row: 7;
    border-top: 1px solid rgb(180, 178, 178);
    padding-top: 15px;
}